*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #630303;
    display: grid;
    grid-template: 1fr 5fr 1fr / 1fr 5fr 1fr;
    grid-gap:5%;
}

.title{

    justify-self: center;
    align-self: center;

    grid-row: 1 / 1;
    grid-column: 2 / 3 ;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    font-size: clamp(2rem,2.3vw,10rem);

}

     .portada{
    justify-self: center;
        grid-row: 2;
         grid-column: 2 ;        
         height: clamp(23ch,100%,140ch);
         
         width:clamp(40ch,100%,95ch);

        }
     .portada img{
       width: 100%;
       height: 100%;
     }
     .buttons{
        justify-self: center;

        display: flex;
        flex-direction: row;
        grid-row: 3 / 3;
        grid-column: 2 / 3 ;
    
     }
     .circle{

         width: 50px;
         height: 50px;
         border-radius: 50%;
         background: #690707;
         box-shadow:  21px 21px 42px #440505,
                      -21px -21px 42px #8e0909;
        flex-wrap: nowrap;
                    }


